{% extends 'admin/lnd/lnd_list.html' %}

{% import 'definition_list_macro.html' as dl %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                {{ dl.definition_list(title='Wallet Balance', data_dict=balance) }}
            </div>
            <div class="col-md-6">
                {{ dl.definition_list(title='New addresses', data_dict=addresses) }}
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    {{ super() }}
{% endblock %}